<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">

        <title>Melanie Phelps</title>
        <meta name="description" content="A website belonging to Melanie Phelps- a professional and practicing counseller, psychotherapist, and hypnobirthing coach">
        <meta name="author" content="Thomas Burton-Lawl">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta property='og:title' content="Melanie Phelps">
        <meta name="image" property="og:image" content="/assets/ogImg.png">
        <meta property='og:description' content="The landing page of MelaniePhelps.co.uk">
        <meta property='og:url' content="www.melaniephelps.co.uk">

        <link rel="stylesheet" href="stylesheets/ocot.css">
        <link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" as="font" href="stylesheets/Pecita-webfont.woff" crossorigin="anonymous">
        <link href="/assets/Favicon.png" rel="icon" type="image/x-icon">  
    </head>
    <body>
        <main class="container">
