<nav>
    <div>
        <ul>
            <li>Melanie Phelps</li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/services">Services</a></li>
            <li>FAQ/Fees</li>
            <li>Contact</li>
        </ul>
    </div>            
</nav>