<nav class="navbar">
    <div id="brand-title"><a href="/home">Melanie Phelps</a></div>
        <a class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
    <div class="navbar-links">
        <ul id="navbarUl">
            <li class="navbarLi"><a href="/home">Home</a></li>
            <li class="navbarLi"><a href="/about">About Me</a></li>
            <li class="navbarLi">
                <div class="dropdown">
                    <div class="dropbtn">
                        <a id="servicesLink">Services</a>
                    </div>
                    <div class="dropdown-content">
                        <a class="dropdownLinks" href="/indoor">INDOOR COUNSELLING</a>
                        <a class="dropdownLinks" href="/outdoor">OUTDOOR THERAPY</a>
                        <a class="dropdownLinks" href="/training">TRAINING AND FACILITATION</a>
                        <a class="dropdownLinks" href="/hypnobirthing">HYPNOBIRTHING COURSES</a>
                        <a class="dropdownLinks" href="/supervision">SUPERVISION</a>
                    </div>                    
                </div>
            </li>
            <li class="navbarLi"><a href="/faq">FAQ/Fees</a></li>
            <li class="navbarLi"><a href="/contact">Contact</a></li>
        </ul>
    </div>            
</nav>