<nav class="navbar">
    <div class="brand-title">Melanie Phelps</div>
    <a class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li>
                <a href="/services">
                    Services &#709;
                </a>
                <!-- <ul class="nav-drop">
                    <li>INDOOR COUNCELLING</li>
                    <li>OUTDOOR THERAPY</li>
                    <li>SUPERVISION</li>
                    <li>CREATIVE TECHNIQUES</li>
                    <li>TRAINING AND WORKSHOPS</li>
                </ul> -->
            </li>
            <li><a href="/faq">FAQ/Fees</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>            
</nav>