<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/mountain_banner.png">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1>About Melanie</h1>
        <p>
            For over 20 years now I have worked as a qualified Integrative Counsellor, Psychotherapist, Supervisor, I’ve lectured in counselling, written and delivered training and facilitated many groups. I have worked with children, young adults, adults, elders and am a Registered Member of the British Association for Counsellors and Psychotherapists and of Ecopsychology UK.

            I bring all that experience and learning into the counselling room to find ways of working that best suit you, the client, and the material you bring to talk about. Finding the right counsellor for you is essential. I offer a free initial telephone part-assessment and then a reduced fee assessment session so you can see where we would be working and decide if I am someone you want to work with. I can also offer telephone and skype counselling where appropriate.
            I provide a warm, compassionate, safe, confidential and professional space within which to work. I not only bring 22 years work experience with me but I have faced and learnt to manage many difficulties and traumas within my own life. By being authentic and genuine I bring my learnt wisdom from those times. So it's from personal experience as well as my professional work that I know and value the support and help that counselling and psychotherapy can give us. 
            I am more than happy to discuss just 'how' I think I may be able to help you when we first chat. As a therapist I have been described by my peers as having warmth, wisdom, integrity and strong boundaries. I like to think I also bring kindness, honesty, creativity, the ability to challenge clients where appropriate but also some laughter to my work. I offer counselling in my dedicated therapy room which is on the ground floor and has wheelchair access

        </p>
        <img src="/assets/bacp.png">
        </div>
    </div>

    <div class="img-wrap">
        <img src="/assets/angelNorth.png">
    </div>

</div>





<%- include("partials/footer") %>
  