<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/about_bannerC.png" alt="A landscape image of the sea with a lighthouse">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">About Melanie</h1>
        <p>For over 20 years, I have worked as a qualified Integrative Counsellor, Psychotherapist and Supervisor. I’ve lectured in counselling, written and delivered training and facilitated various groups. I work with children, young adults, adults and elders. I am a Registered Member of the British Association for Counsellors and Psychotherapists and of Ecopsychology UK.</P>
        <br>
        <p>I bring all that learning and experience into the counselling room to find ways of working that best suit you, my client as a unique individual, and the material you bring. Finding the right counsellor for you is essential.</p>
        <br>
        <p> I offer a free initial telephone, partial assessment and then we can arrange an assessment session so you can see where we would be working and decide if I am someone you want to work with.  <strong>* Please note due to Covid I am currently only working via telephone or Skype.</strong></p>
        <br>        
        <p>I provide a warm, compassionate, safe, confidential and professional space within which to work. I not only bring 22 years work experience with me but I have faced and learnt to manage many difficulties and traumas within my own life. By being authentic and genuine I bring my learnt wisdom from those times. So, it's from personal experience as well as my professional work that I know and value the support and help that counselling and psychotherapy can give us. I am always pleased to discuss how I can help you when we first chat.</p>
        <br>        
        <p>As a therapist I have been described as having warmth, wisdom, integrity and strong boundaries. I like to think I also bring kindness, honesty, creativity, the ability to challenge clients where appropriate but also some laughter to my work. I offer counselling in my dedicated therapy room which is on the ground floor and has wheelchair access.</p>
        </p>
        <img src="/assets/bacp.png" alt="An icon depicting The British Association For Counselling And Psychotherapy">
        </div>
    </div>

    <div class="img-wrap">
        <img src="/assets/angelNorthC.png" alt="Melanie Phelps standing next to the Angel of the North with her arms spread out like wings">
    </div>
</div>
<%- include("partials/footer") %>
  