<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="grid-item banner">
    <img src="/assets/sea_1920C.png" alt="A landscape image of the sea and shore">
</div>
<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">Message sent successfully</h1>
            <p>I will get in touch with you as soon as possible.</p>
        </div>
    </div>
</div>
<%- include("partials/footer") %>