<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/sea_1920C.png" alt="An image of the  blue sea and yellow sandy shore blending together">
</div>

<div class="grid-item about">
    <div class="form-wrap">
        <form name="contactForm" id="contactForm" method="POST" action="/contact">
            <h1 class="smallerH1">Contact me</h1>
            <p>Send me a message</p>
            <div class="field-wrap">
                <label for="name"><strong>Name<abbr title="required" aria-label="required">*</abbr></strong></label><br>
                <input id="name" type="text" name="user_name" required>
            </div>
            <div class="field-wrap">
                <label for="email"><strong>Email<abbr title="required" aria-label="required">*</abbr></strong></label><br>
                <input id="email" type="email" name="user_email" required>
            </div>
            <div>
                <label for="message"><strong>Message<abbr title="required" aria-label="required">*</abbr></strong></label><br>
                <textarea id="message" type="textarea" name="user_message" required></textarea>
            </div>
            <button 
                id="contactBut" 
                class="g-recaptcha" 
                data-sitekey="6Ld37vsUAAAAAFg4JSfU7ciYEDUA_pdu3K5IWiNh" 
                data-callback='onSubmit' 
                data-action='submit'
            >Send</button>
            <div id="captchaDiv">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </div>	 
        </form>
           
    </div>

    <div class="contact-wrap">
        <h3>Contact information</h3>
        <p><strong>Telephone</strong></p>
        <p>07742 239043</p>
        <p><strong>Email</strong></p>
        <p>melphelps@live.co.uk</p>
        <p><strong>Address</strong></p>
        <p>Weston-Super-Mare, Somerset, BS22 9UQ</p>

    </div>
    

    <div class="img-wrap">
        <img src="/assets/mel_snowC.png" alt="Melanie Phelps standing on a cliff amoungst the trees">
    </div>

</div>





<%- include("partials/footer") %>
  