<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="grid-item banner">
    <img src="/assets/sea_1920.png" alt="An image of the  blue sea and yellow sandy shore blending together">
</div>
<div class="grid-item faq">
    <h1>There has been an error</h1>
    <div>
        <p>I am sorry, but something has gone wrong with the site. Please try what you were doing again, or email me directly at melphelps@live.co.uk</p>
    </div>

</div>



<%- include("partials/footer") %>