<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="grid-item banner">
    <img  src="/assets/forest.png">
</div>

<div class="grid-item faq">
    <h3>FAQ and fees</h3>
    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum lorem et elementum ullamcorper. Duis nisl est, consequat in arcu pharetra, dictum pulvinar nisl. In vitae urna ac urna tempus convallis. Maecenas fringilla consectetur tortor, vitae volutpat metus facilisis in. Phasellus ut venenatis elit, sit amet volutpat lacus. Cras vestibulum bibendum ex vitae ornare. Ut in hendrerit elit. Ut lobortis sed neque vel mollis. Curabitur orci ligula, euismod feugiat dolor eget, dictum luctus libero. Aliquam non sodales risus. Aenean lacus arcu, bibendum ac semper at, laoreet in justo. Suspendisse sollicitudin nec est ut tempor. Phasellus maximus turpis quam. Integer vulputate faucibus dapibus. Integer hendrerit nisi ut varius tempus. In pellentesque enim in dolor lacinia, vitae fringilla arcu viverra. Nam consectetur bibendum nibh nec convallis. Suspendisse turpis nisi, imperdiet at tempor eget, tempus sed erat. Nulla eget mattis lacus. Nulla nec nisi vehicula, pharetra ante ac, malesuada ante. Donec condimentum elit non odio varius, sit amet tristique est tempus. Phasellus vehicula arcu quis diam lobortis malesuada. Aenean posuere neque leo, cursus malesuada felis imperdiet nec. Fusce non turpis orci. Nunc hendrerit, elit sed posuere fermentum, lacus purus iaculis mi, non laoreet nisl tortor eget eros.</P>
</div>










<%- include("partials/footer") %>