<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="grid-item banner">
    <img  src="/assets/faqC.png" alt="An image of old trees amoungst a misty haze with majestic mountains in the background.">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">FAQ and fees</h1>
            <strong>Where are you based?</strong>
            <p>I have a dedicated therapy room at my home in Sand Bay, North Somerset.</p>
            <br>
            <strong>Where can I park or leave my bike?</strong>
            <p> There are parking bays outside of the house on the road and a car park 100 yards away. Bikes can be bought inside the house and locked. </p>
            <br>
            <strong>Are you able to offer disabled access?</strong>
            <p>Yes. There is wheelchair access to the room we will work in and I have an accessible toilet. There is a slight ramped entrance to the main front door. I do not have a hearing loop system.</p>
            <br>
            <strong>How do I know if Counselling or Psychotherapy are for me?</strong>
            <p>I offer a free 15-minute telephone part-assessment to give us the opportunity to chat and I can tell you about how I work. You can then decide whether you would like to arrange a full assessment session which is offered at a reduced rate (see below). We can then decide whether we will work together.</p>
            <br>
            <strong>Do I have to see you face to face for sessions?</strong>
            <p>It's usually preferable to work face to face but in some circumstances this is just not possible. In that case I do offer telephone and Skype counselling.</p>
            <br>
            <strong>How long are the sessions?</strong>
            <p>All sessions are 50 minutes long unless otherwise agreed.</p>
            <br>
            <strong>How often would I come to see you?</strong>
            <p>Sessions usually take place on a weekly basis.</p>
            <br>
            <strong>How do I pay?</strong>
            <p>Payment is taken weekly by cash or bank transfer.</p>
            <br>
            <strong>How much is a session each week?</strong>
            <br>
            <br>        
            <strong>Counselling/Psychotherapy:</strong>
            <ul>
                <li>Initial Assessment (50 minutes) <strong>£40</strong></li>
                <li>Weekly Sessions (50 minutes)    <strong>£40</strong></li>
            </ul>
            <br>

            <strong>Telephone and Skype Counselling:</strong>
            <ul>
                <li>Initial Assessment (50 minutes) <strong>£40</strong></li>
                <li>Weekly Sessions (50 minutes)    <strong>£40</strong></li>
            </ul>
            <br>

            <strong>Individual Supervision (Face to Face, Skype or Telephone)</strong>
            <ul>
                <li>60 minutes- <strong>£50.00</strong></li>
                <li>90 minutes- <strong>£75.00</strong></li>
            </ul>
            <br>
            <strong>Group Supervision</strong>
            <p>Please <a href="/contact">contact me</a> to discuss terms.</p>
            <br>
            <strong>Hypnobirthing course</strong>
            <p>See <a href="/hypnobirthing">Hypnobirthing Page</a> for details</p>
        </div>        
    </div>
</div>










<%- include("partials/footer") %>
