<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="grid-item banner">
    <img  src="/assets/forest.png">
</div>

<div class="grid-item faq">
    <h3>FAQ and fees</h3>
    <P>I offer a free 15 minute telephone part-assessment to give us the opportunity to chat and decide whether you would like to come for the assessment session and begin working with me. The first assessment session at my home is offered at a reduced rate of £30 and lasts 50 minutes. This allows you to meet with me face to face, see where we would work together and I can learn more about you. After that if you decide to continue the fees are as follows.
    <br>
    <h4>Counselling Fees</h4>
    <strong>Individual Counselling:</strong>
    <ul>
        <li>Initial Assessment (50 minutes) <strong>£30</strong> </li>
        <li>Weekly Sessions (50 minutes)    <strong>£40</strong></li>
    </ul>
        
    <strong>Telephone and Skype Counselling:</strong>
    <ul>
        <li>Initial Assessment (50 minutes) <strong>£30</strong></li>
        <li>Weekly Sessions (50 minutes)    <strong>£40</strong></li>
    </ul>
    
    <strong>Couples Counselling Fees:</strong>
    <ul>
        <li>Initial Assessment (50 minutes) <strong>£55</strong> </li>
        <li>Weekly Sessions (50 minutes) <strong>£55</strong> </li>
    </ul>
    <p><em> *I also offer two low cost counselling spaces for those on certain benefits or experiencing serious hardship.</em></P>

    <h4>Supervision Fees</h4>
    <strong>Individual Supervision (Face to Face or Skype)</strong>
    <ul>
        <li>60 minutes - <strong>£50.00</strong></li>
        <li>90 minutes - <strong>£70.00</strong></li>
    </ul>

    <strong>Group Supervision</strong>
    Please contact to discuss terms.
    
</div>










<%- include("partials/footer") %>