<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="grid-item banner">
    <img  src="/assets/forest.png">
</div>

<div class="grid-item faq">
    <h3>FAQ and fees</h3>
    <p>I have a dedicated therapy room at my home is Sand Bay, North Somerset. It has parking outside and wheelchair access with a fully accessible toilet. There is a slight ramped entrance to the main front door. 
    I offer a free 15 minute telephone part-assessment to give us the opportunity to chat and decide whether you would like to come for the initial assessment session and begin working with me. The initial full assessment session at my home is offered at a reduced rate. This allows you to meet with me face to face, see where we would work together and I can learn more about you. 
    If you decide to continue the fees are as follows. 
    </p>
    <strong>Counselling:</strong>
    <ul>
        <li>Initial Assessment (50 minutes) <strong>£30</strong> </li>
        <li>Weekly Sessions (50 minutes)    <strong>£40</strong></li>
    </ul>
        
    <strong>Telephone and Skype Counselling (If agreed):</strong>
    <ul>
        <li>Initial Assessment (50 minutes) <strong>£30</strong></li>
        <li>Weekly Sessions (50 minutes)    <strong>£40</strong></li>
    </ul>

    <strong>Individual Supervision (Face to Face or Skype)</strong>
    <ul>
        <li>60 minutes - <strong>£50.00</strong></li>
        <li>90 minutes - <strong>£70.00</strong></li>
    </ul>
    <strong>Group Supervision</strong>
    <p>Please <a href="/contact">contact me</a> to discuss terms.</p>
    <strong>Hypnobirthing course</strong>
    <p>See <a href="/hypnobirthing">Hypnobirthing Page</a> for details</p>

    
    
    
</div>










<%- include("partials/footer") %>