<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/beach_view.png">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h2>Hypnobirthing</h2>
        <p>
            During my midwifery training in Bristol I sought private training to become a Hypnobirthing practitioner / teacher as I wanted to really support women to prepare to have the best birth they could. I undertook my training with Kathryn Graves (KGHypnobirthing) in London. This involved an intensive and in-depth three-day training course which lead to qualification. The course is accredited by the Royal College of Midwives. 
            Whilst I no longer practice as a Midwife and work as a qualified Counsellor and Psychotherapist with over 20 years’ experience, I bring my Midwifery training, knowledge and previous practice to the hypnobirthing course,  Couples have found my midwifery background and my counselling and psychotherapy experience to be extremely useful in helping them to understand the process of birth and have felt it has given them more confidence and a deeper understanding of pregnancy, birth and the profound step into parenthood. I believe my therapeutic background has helped some to air their concerns and fears with more confidence and of course I have additional therapeutic tools to provide suggestions and understanding. 
            My Hypnobirthing course is an antenatal education programme that teaches you skills and techniques to develop your confidence in your ability to give birth to your baby. I give you a lot of information on pregnancy and birth and this can help you to feel more informed and therefore more in control.  With increased confidence  and a greater sense of control you can then consider for yourselves how you may want to give birth to your baby and make informed choices that are right for you and your baby.  
            
            Mothers and their partners can learn to release anxieties and fears and address any previous difficult memories affecting or surrounding the idea of birth. Birth partners can learn ways to help support and enhance the birthing process. 
            
            When learning  about what happens to your body during pregnancy and birth you will learn relaxation techniques, massage and breathing strategies, develop affirmations and visualisations that will through practicing at home will help you during pregnancy and birth and even after you have welcomed your baby into the world. 
            Birth does not have to be traumatic. Through practicing Hypnobirthing techniques it can be calm and kind for you and your baby and you can learn to trust that your body instinctively knows what to do
        </p>

        <h3>Breastfeeding</h3>
        <p>For those of you who are interested in breast feeding I can include specific information and upon request provide an additional training session prior to birth and after the baby has arrived to support you through the initial learning stages. See below. 
        </p>

        <h3>Private hypnobirthing courses</h3>
        <p>The courses I offer are offered privately for two people or they can be tailored to small groups if you have other couples you would like to learn alongside with. They can be started any time after the 20th week of pregnancy The courses can take place within your own home or within my own dedicated therapy room in Sand Bay. Each session lasts approximately 3 hours. </p>
        <ul>
            <li>4 private sessions - 12 hours:<strong>£450</strong> </li>
            <li>5 Private sessions - 15 hours includes extra preparation/top up session at around 36 weeks:  <strong>£550</strong></li>
        </ul>

        <h3>Course price includes</h3>
        <ul>
            <li>Hypnobirthing tuition </li>
            <li>Accredited Hypnobirthing course handbook</li>
            <li>Relaxation / Birth Affirmations Audios</li>
            <li>Course folder and weekly course handouts</li>
            <li>Telephone / email support up to your birth</li>
            <li>A detailed birth preferences and preparation guide</li>
        </ul>

        <h3>Breastfeeding sessions</h3>
        <ul>
            <li>2 hour Breastfeeding Information and Preparation Session (Pre-birth): <strong>£80</strong> </li>
            <li>1 hour Breastfeeding Support Session (Post delivery Home Visit): <strong>£40</strong></li>
        </ul>

        <h3>Concessions</h3>
        <p>It is my intention that everybody should be able to benefit from Hypnobirthing training. Therefore, I do offer concessions and / or a payment plan for those who are faced with genuine financial difficulty. Please contact me directly to discuss this further.  </p>

        <img src="/assets/bacp.png">
        </div>
    </div>

    <div class="img-wrap">
        <img src="/assets/creative.png">
    </div>
    

</div>





<%- include("partials/footer") %>