<%- include("partials/header") %>
<%- include("partials/nav") %>

    
<div class="grid-item-sign">
    <div id="bannerWrap">
        <h1 id="bannerName">Melanie Phelps</h1>
        <p id="bannerBlurb">Indoor & Outdoor Counselling,<br> Psychotherapy, Supervision & Training. MBACP</p>
    </div>
</div>               

<section class="grid-item skills-container">
    <div class="skills">
        <a href="/indoor">
            <img src="assets/chat-1.png" alt="An icon depicting speech bubbles">
            <h2>Indoor counselling</h2>
            <button>Learn more</button>  
        </a>
    </div>    
    <div class="skills">
        <a href="/outdoor">
            <img src="assets/tree-1.png" alt="An icon depicting a tree">
            <h2>Outdoor therapy</h2>
            <button>Learn more</button>
        </a> 
    </div>    
    <div class="skills">
        <a href="/training">
            <img src="assets/feet-1.png" alt="An icon depicting footprints">
            <h2>Training & facilitation</h2>
            <button>Learn more</button>
        </a>                    
    </div> 
    <div class="skills">
        <a href="/hypnobirthing">
        <img src="assets/hypnobirthing.png" alt="An icon depicting a baby in the womb">
        <h2>Hypnobirthing courses</h2>
        <button>Learn more</button>
        </a>                    
    </div>   
</section>
       
<section class="meet grid-item">
    <div class="hello">
        <div class="hello-wrap">
            <h2>Meet Melanie</h2>
            <p>For over 20 years, I have worked as a qualified Integrative Counsellor, Psychotherapist and Supervisor. I’ve lectured in counselling, written and delivered training and facilitated various groups. I work with children, young adults, adults, elders and am a Registered Member of the British Association for Counsellors and Psychotherapists and of Ecopsychology UK.
            </p>
            <br>
            <p>
            I aim to provide a warm, compassionate, safe and confidential space to find the most helpful approach to working with you. Through personal experience and my years of professional experience, I know and value the support that counselling and psychotherapy can give us and I am more than happy to discuss just 'how' I think I may be able to help you when we first chat.
            </p>
            <br>
            <p>
            I am a great believer in utilising nature to help maintain our mental and physical well-being and like to bring aspects of this into my therapeutic work when it’s appropriate.
            </p>
            <img src="assets/bacp.png" alt="An icon depicting The British Association For Counselling And Psychotherapy">
            <br>
            <a href="/about"><button>Learn more</button></a>
        </div>
        
    </div>

    <div class="portrait">
        <img src="assets/mum_portraitC.jpg" alt="Melanie Phelps sitting on a cliff playing the Ukelele with the ocean behind her">

    </div>   

</section>           
        
<div class="grid-item testimony">
    <div class="left-test">
        <img class="quote-img white" src="assets/quote.png" alt="An icon depicting quotation marks">
        <p>I have worked with Melanie in several settings over many years and I have found her extremely professional and knowledgeable. I have always had every confidence in her when working with both individuals and groups of counsellors. She has the ability and skill to provide engaging and creative methods of supervision in a very non judgemental environment. <br>Mel comes with my full recommendation.</p>
            <div><strong>Sarah Flourentzou</strong></div>
    </div>    
</div>

<div class="grid-item testimony">
    <div class="right-test">
        <img class="quote-img white" src="assets/quote.png" alt="An icon depicting quotation marks">
        <p>A refreshingly challenging yet supportive Supervisor. If you're looking to get that something extra or really value open and honest dialogue, from my experience Melanie is first rate.</p>
        <div><strong>A.P. Clevedon</strong></div>
        </p>
    </div>
</div>
<div id="testiButton"class="grid-item span-test">
    <a href="/testimony"><button>Read more</button></a>
</div>
                              

<section class="grid-item contact">
    <img src="assets/telephone.png" alt="An icon depicting a phone">
    <h2>Contact me</h2>
    <p>
        Contact me today for more information, or to enquire about an appointment
        <br>
        <strong>07742 239043</strong>
        <br>
        <strong>melphelps@live.co.uk</strong>
        <br>
        Weston-super-Mare, Somerset, BS22
    </p>
</section>
<%- include("partials/footer") %>
