<%- include("partials/header") %>
<%- include("partials/nav") %>

    
<div class="grid-item-sign">
    <div>
        <h1>Melanie Phelps</h1>
        <h4>Indoor & Outdoor Counselling,<br> Psychotherapy & Supervision. MBACP</h4>
    </div>
</div>               
    

<div class="grid-item skills-container">
    <div class="skills first">
        <div>
            <img src="assets/chat-1.png">
            <p><strong>Indoor Counselling & Psychotherapy</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint rem veniam cumque labore, tenetur omnis porro.</p>  
            <button><a href="/indoor">Learn More</a></button>
        </div>
                            
    </div>
    
    <div class="skills">
        <div>
            <img src="assets/tree-1.png">
            <p><strong>Outdoor therapy/Ecotherapy</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint rem veniam cumque labore, tenetur omnis porro.</p>
            <button><a href="/outdoor">Learn More</a></button>
    
        </div>
        
    </div>
    
    <div class="skills">
        <div>
            <img src="assets/music-1.png">
            <p><strong>Supervision</strong></p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint rem veniam cumque labore, tenetur omnis porro.</p>
            <button><a href="/creative">Learn More</a></button>
        </div>                   
    </div>
    
    <div class="skills last">
        <div>
        <img src="assets/feet-1.png">
        <p><strong>Training & Workshops</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint rem veniam cumque labore, tenetur omnis porro.</p>
        <button><a href="/supervision">Learn More</a></button>
        </div>                    
    </div> 
    <div class="skills last">
        <div>
        <img src="assets/feet-1.png">
        <p><strong>Hypnobirthing Courses</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sint rem veniam cumque labore, tenetur omnis porro.</p>
        <button><a href="/supervision">Learn More</a></button>
        </div>                    
    </div>   
</div>



        
<section class="meet grid-item">

    <div class="hello">
        <div class="hello-wrap">
            <h3>Meet Melanie</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure est nostrum quasi atque eum? Minima corrupti accusamus harum, praesentium aliquid vero dolorum numquam esse, qui laborum possimus quaerat? Tempore.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro praesentium in inventore a illum, libero accusamus earum incidunt culpa voluptatum saepe eaque officia laborum tenetur odit voluptatem, sunt commodi?</p>
            <img src="assets/bacp.png">
            <br>
            <button>Learn More</button>
        </div>
        
    </div>

    <div class="portrait">
        <img src="assets/portrait.png">

    </div>   

</section>           
        
    

<div class="grid-item testimony">
    <img src="assets/quote.png">
    <p><em>I have worked with Melanie in several settings over many years and I have found her extremely professional and knowledgeable. I have always had every confidence in her when working with both individuals and groups of counsellors. She has the ability and skill to provide engaging and creative methods of supervision in a very non judgemental environment. 
        <br> Mel comes with my full recommendation.</em>
        <br><strong>Sarah Flourentzou</strong>
    </p>
</div>

<div class="grid-item testimony">
    <img src="assets/quote.png">
    <p>A refreshingly challenging yet supportive Supervisor. If you're looking to get that something extra or really value open and honest dialogue, from my experience Melanie is first rate.
        <br><strong>A.P. Clevedon</strong>
    </p>                    
</div>          

<div class="grid-item contact">
    <img src="assets/telephone.png">
    <h3>Contact Me</h3>
    <p>
        Contact me today for more information, or to enquire about an appointment
        <br>
        07742 239043 / 01934 429865
        <br>
        email@email.com
        <br>
        Weston-super-Mare, Somerset, BS22
    </p>
</div>
</div>
<%- include("partials/footer") %>