<%- include("partials/header") %>
<%- include("partials/nav") %>

    
<div class="grid-item-sign">
    <div>
        <h1>Melanie Phelps</h1>
        <h2>Indoor & outdoor counselling,<br> Psychotherapy & supervision. MBACP</h2>
    </div>
</div>               

<section class="grid-item skills-container">
    <div class="skills">
        <a href="/indoor">
            <img src="assets/chat-1.png">
            <h2>Indoor counselling & psychotherapy</h2>
            <a href="/indoor"><button>Learn more</button></a>  
        </a>
    </div>    
    <div class="skills">
        <a href="/outdoor">
            <img src="assets/tree-1.png">
            <h2>Outdoor therapy/ecotherapy</h2>
            <a href="/outdoor"><button>Learn more</button></a>
        </a> 
    </div>    
    <div class="skills">
        <a href="/creative">
            <img src="assets/feet-1.png">
            <h2>Supervision</h2>
            <a href="/creative"><button>Learn more</button></a>
        </a>                   
    </div>    
    <div class="skills last">
        <a href="/supervision">
            <img src="assets/feet-1.png">
            <h2>Training & workshops</h2>
            <a href="/supervision"><button>Learn more</button></a>
        </a>                    
    </div> 
    <div class="skills last">
        <a href="/supervision">
        <img src="assets/hypnobirthing.png">
        <h2>Hypnobirthing courses</h2>
        <a href="/supervision"><button>Learn more</button>
        </a>                    
    </div>   
</section>
       
<section class="meet grid-item">
    <div class="hello">
        <div class="hello-wrap">
            <h2>Meet Melanie</h2>
            <p>Hi there, my name is Melanie and for over 20 years now I have worked as a qualified Integrative Counsellor, Psychotherapist, Supervisor, I’ve lectured in counselling, written and delivered training and facilitated many groups. I work with children, young adults, adults, elders and am a Registered Member of the British Association for Counsellors and Psychotherapists and of Ecopsychology UK.  
            I aim to provide a warm, compassionate, safe, confidential and professional space to find the most helpful approach to working with you and the material that you bring.  
            I not only bring my years of experience from working with others but I have faced and learnt to manage many difficulties and traumas within my own life and so bring my learnt wisdom from those times too.  Through personal experience and my professional work I know and value the support that counselling and psychotherapy can give us and I am more than happy to discuss just 'how' I think I may be able to help you when we first chat.
            I am a lover of nature and enjoy walking my dog and connecting with the great outdoors. I am a great believer in utilising nature to help maintain our mental and physical well-being and like to bring aspects of this into my therapeutic work when it’s appropriate. I am a keeper of bees, enjoy playing music and like exploring different creative activities. All these help support me to provide a solid, helpful therapeutic space in which to work with others. 
            </p>
            <img src="assets/bacp.png">
            <br>
            <a href="/about"><button>Learn more</button></a>
        </div>
        
    </div>

    <div class="portrait">
        <img src="assets/portrait.png">

    </div>   

</section>           
        
<div class="grid-item testimony">
    <div class="left-test">
        <img src="assets/quote.png">
        <p>I have worked with Melanie in several settings over many years and I have found her extremely professional and knowledgeable. I have always had every confidence in her when working with both individuals and groups of counsellors. She has the ability and skill to provide engaging and creative methods of supervision in a very non judgemental environment. Mel comes with my full recommendation.</p>
            <div><strong>Sarah Flourentzou</strong></div>
    </div>
    
    </div>

    <div class="grid-item testimony">
        <div class="right-test">
            <img src="assets/quote.png">
            <p>A refreshingly challenging yet supportive Supervisor. If you're looking to get that something extra or really value open and honest dialogue, from my experience Melanie is first rate.</p>
            <div><strong>A.P. Clevedon</strong></div>
        </p>  

        </div>
    </div>
                      
</div>          

<section class="grid-item contact">
    <img src="assets/telephone.png">
    <h2>Contact me</h2>
    <p>
        Contact me today for more information, or to enquire about an appointment
        <br>
        07742 239043 / 01934 429865
        <br>
        melphelps@live.co.uk
        <br>
        Weston-super-Mare, Somerset, BS22
    </p>
</section>
<%- include("partials/footer") %>