<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/armchair-1920C.png" alt="A banner image showing a comfortable looking chair">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">Indoor counselling and psychotherapy</h1>
        <p>
            The terms “counselling” and “psychotherapy” are often used interchangeably. In my practice I make the distinction that counselling generally refers to shorter-term work while psychotherapy refers to longer-term, more in-depth exploration. 
            Both offer you the opportunity to share your thoughts, feelings and concerns in a safe and confidential environment with myself, someone who is trained, qualified and very experienced as well as impartial. This therapeutic relationship, between the counsellor and the client, develops over time and enables the client to open up and focus on their difficulties and challenges and the changes they most want to make in their life.
        </p>
        <br>
        <p> 
            I have supported many clients over the years with a broad range of material and issues. Some people come with very clear and specific areas they want to talk about and work on while others come wanting to explore and get more clarity about the root of their problems in order to help them make changes.
        </p>
        <br>

        <p>
            I have worked extensively with issues of:
        </p>
        <ul>
            <li>historic and current sexual, physical and emotional assault and abuse</li>
            <li>Inner child work and historic childhood issues </li>
            <li>self-harm and self-injury (including drug and alcohol issues)</li>
            <li>grief and bereavement including the death of a child or children  </li>
            <li>disability, terminal illness and caring for ill family members</li>
            <li>mental wellbeing and health issues </li>
            <li>depression, anxiety and low self-esteem</li>
            <li>identity, lack of confidence, low self-worth</li>
            <li>personal development and exploration</li>
            <li>relationship difficulties and sexuality</li>
            <li>spirituality, life and it’s direction and meaning </li>
        </ul>
        <p>
            Over the years I've developed an integrative and creative way of working meaning that I combine theoretical approaches to best suit the individual client and their needs.  I enjoy working creatively where appropriate but again the decision lies with each client. I can offer a range of resources to help you explore and express including the use of; art, writing, collage, ceremony, ritual, Sand Tray, music, breath work, mindfulness or simply, but most importantly, my skills in listening, reflecting, challenging and witnessing.
            I am here to provide a safe and trusting space to support you with anything that may be getting in the way of you getting the best out of your everyday life. My overall aim is to help you understand yourself better and address areas that you are struggling with or want to enhance so that you feel happier within yourself and your life. 
        </p>
        <img src="/assets/bacp.png" alt="An icon depicting The British Association For Counselling And Psychotherapy">
        </div>
    </div>

    <div id="indoor-img" class="img-wrap">
        <img src="/assets/Counselling-roomC.png" alt="An photograph of Melanie's counselling room with comfortable chairs and a bright window in the background">
    </div>
    

</div>





<%- include("partials/footer") %>