<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/outdoorC.png" alt="A banner image of a deep green forest">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">Outdoor therapy and ecotherapy</h1>
            <p>As a member of Ecopsychology UK , as well as working in the traditional counselling room setting, I am lucky enough to be able to offer clients a unique opportunity to take the counselling outdoors.</p>
            <br>

            <p> Using outdoor spaces allows us to re-connect and engage with the natural world and this can bring a new dimension and new perspectives to the therapeutic work. Being outdoors stimulates the senses, which brings about unique and individual responses different to those when working in a room.
            </p>
            <br>

            <p>Being outdoors can help us move out of the busy mind state we often find ourselves in and into having more appreciation for, and a stronger awareness of, the mind and body balance and connection. Nature has a lot to teach us. It can help us to identify and work with themes that we may not be aware of through its cycles, patterns and phenomena. Nature’s own processes for example; change, it’s life cycles, loss and renewal and its symbolism can often help us explore and make sense of our own difficulties by providing new ways of thinking about and responding to our challenges and struggles.
            </p>
            <br>
            
            <p>There is now a growing body of research that has shown the benefits of exposure to the natural world on health and mental well-being, so much so that now healthcare providers and policymakers are considering how they can incorporate this human need into their plans and future way of working. I live very close to the beach with woodland and a headland close by making this work easily accessible. This way of working may not always be appropriate and will be restricted if there are mobility issues. If it is offered then the decision to work outside on occasions always lies with the client and also requires an additional signed agreement.
            </p>
            <img src="/assets/bacp.png" alt="An icon depicting The British Association For Counselling And Psychotherapy">
        </div>
    </div>       

    <div class="img-wrap">
        <img src="/assets/Dexter_beachC.png" alt="A picture of Melanie's dog running on a beach next to a handmade wooden hut">
    </div>
</div>


<%- include("partials/footer") %>