<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/outdoorC.png" alt="A banner image of a deep green forest">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">Outdoor Therapy and Ecotherapy</h1>
            <p>As well as working in the traditional counselling room setting, I am lucky enough to be able to offer clients a unique opportunity to take the counselling outdoors. I am a member of Ecopsychology UK. </p>
            <br>

            <p> Using outdoor spaces allows us to re-connect and engage with the natural world and this can bring a new dimensions and perspectives to the therapeutic work. Being outdoors stimulates the senses, which releases unique and individual responses different to those when working in a room.
            </p>
            <br>

            <p>Being outdoors helps us move out of the busy mind state we often find ourselves in. We gain more appreciation for, and a stronger awareness of, the mind and body balance and connection. Nature has a lot to teach us. It can help us to identify and work with themes that we may not be aware of through its cycles, patterns and phenomena. Natural processes, change, life cycles of loss and renewal and the symbolism and metaphor we can take from these, helps us explore and make sense of our own difficulties. It provides new ways of thinking about and responding to our challenges and struggles.
            </p>
            <br>
            
            <p>There is a growing body of research that has shown the benefits of exposure to the natural world on health and mental well-being. So much so that healthcare providers and policymakers are now considering how they can incorporate this human need into their plans and future ways of working. 
            </p>
            <br>
            <p>I live very close to a beach with woodland and a headland close by making this work easily accessible. This way of working may not always be appropriate and are restricted if there are mobility issues. If it is offered then the decision to work outside on occasions always lies with the client and will require an additional signed agreement.
            </p>
        </div>
    </div>       

    <div id="extra-margin-img" class="img-wrap">
        <img src="/assets/Dexter_beachC.png" alt="A picture of Melanie's dog running on a beach next to a handmade wooden hut">
    </div>
</div>


<%- include("partials/footer") %>