<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/armchair-1920@2x.png">
</div>

<div class="grid-item about">
    <h2>Indoor counselling</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at lacus pretium magna pulvinar luctus. Pellentesque dictum hendrerit felis et pharetra. Vestibulum fermentum, dolor eget aliquet consequat, ipsum felis euismod nisl, quis aliquet mi risus sit amet quam. Integer tempus sem in justo consectetur mattis. Fusce sit amet augue aliquet, congue quam sit amet, malesuada sem. Suspendisse id iaculis purus.
    </p>

    <p>
        Nunc sed diam at dui faucibus egestas a lacinia est. Nam tristique risus metus, vitae mollis tortor elementum et. Fusce pellentesque accumsan scelerisque. Suspendisse viverra convallis magna, vel aliquet quam posuere non. Aliquam volutpat tincidunt orci, nec accumsan nunc accumsan sed. Donec interdum nec urna sit amet consectetur. Vestibulum ut ultrices leo, sed posuere tortor. Etiam id ante at neque fermentum malesuada eu eu odio.
        <br>
        Pellentesque tincidunt elementum mi. Duis id maximus magna, et semper orci. Sed gravida diam ut lobortis auctor. Morbi suscipit purus at tempus semper. Donec eleifend orci vel ipsum fermentum feugiat. Sed sem tellus, cursus ut porta eu, eleifend sit amet ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam pretium vel nisl vitae consequat.
    </p>
    <img src="/assets/bacp.png">

</div>

<div class="grid-item angel-wrap">
    <img src="/assets/Counselling room@2x.png">
</div>



<%- include("partials/footer") %>