<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/beach_cliffC.png" alt="A banner Image of a beachside cliff beside the ocean">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">Supervision</h1>
            <p>I have been providing one to one and group supervision to a range of healthcare professionals and volunteers since 2003, I formally qualified as a supervisor in 2010 with a masters level certificate in supervision. I offer a unique supervision opportunity to work indoors, outdoors or via telephone and skype. I love and highly value the process of providing and receiving clinical supervision.</p>
            <br>
            <p>I believe supervision should be a collaborative space where supervisor and supervisee can be open and honest and work together collaboratively side by side. My main aims as a supervisor is to ensure that you are working safely and effectively by ensuring that you are not becoming too overloaded, stressed or enmeshed in your work. My focus is on keeping not only the client safe but also their healthcare provider.</p>
            <br>
            <p>Compassion fatigue is rampant in the helping professions and supervision is one of the ways we can help ourselves and in doing so, help others. As a supervisor I can provide a safe and supportive space for you, the supervisee, so that a trusting relationship develops in which you can explore your work.</p>
            <br>
            <p>Supervision provides the opportunity for growth through new learning, deeper understanding, exploring different perspectives and through challenges to assumptions and professional practices. It also requires personal as well as professional development work at times. I place a strong value on developing and maintaining integrity within counselling and supervision work. I combine supervision models and creative approaches to help you develop your reflexive skills as a professional, competent and compassionate practitioner.</p>
            <br>
            <p>  I like to share my experience, skills and understanding of working with people with supervisees and support them to develop their own style and inner supervisor to gain confidence in their practice and own way of working. I have experience of supervising a wide range of professionals, counsellors, trainee counsellors, supervisors, social workers, volunteers, managers and coordinators working with children, young people, adults and elders. As well as one to one supervision I also provide group supervision upon request and use a co-participative model.
            </p>
            <img src="/assets/bacp.png" alt="An icon depicting The British Association For Counselling And Psychotherapy">
        </div>
    </div>

    <div class="img-wrap">
        <img src="/assets/supervisionC.png" alt="An image of Melanie standing next to the ocean and looking out to sea">
    </div>
    

</div>





<%- include("partials/footer") %>