<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/beach_cliffC.png" alt="A banner Image of a beachside cliff beside the ocean">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1 class="smallerH1">Supervision</h1>
            <p>I have been providing one to one and group supervision to a range of healthcare professionals and volunteers since 2003.  I formally qualified in 2010 with a Master’s level certificate in supervision. I offer a broad range of supervision opportunities working indoors, outdoors, via telephone and Skype. I love and highly value the process of providing clinical supervision and believe honest and open supervision is the core of all good practice. </p>
            <br>
            <p>I believe supervision should be a collaborative space where supervisor and supervisee areworking together side by side. My main aims as a supervisor is to ensure that you are working safely and effectively by ensuring that you are not becoming too overloaded, stressed or enmeshed in your work. My focus is on keeping not only the client safe but also you.</p>
            <br>
            <p>Compassion fatigue is rampant in the helping professions and supervision is one of the ways we can help ourselves and in doing so, help others. I provide a supportive space so that a trusting relationship develops for you to explore your work safely.</p>
            <br>
            <p>Supervision provides the opportunity for growth through new learning, deeper understanding, exploring different perspectives and through challenges to assumptions and professional practices. It requires personal as well as professional development work at times. I place a strong value on developing and maintaining integrity within counselling and supervision work. I combine supervision models and creative approaches to help you develop your reflexive skills as a professional, competent and compassionate practitioner.</p>
            <br>
            <p>I like to share my experience, skills and understanding of working with people with supervisees. I support them to develop their own style and “inner supervisor”, gaining confidence in their practice and own way of working. I have experience of supervising a wide range of professionals, counsellors, trainee counsellors, supervisors, social workers, volunteers, managers and coordinators working with children, young people, adults and elders. As well as one to one supervision I also provide group supervision upon request and use a co-participative model.
            </p>
        </div>
    </div>

    <div class="img-wrap">
        <img src="/assets/supervisionC.png" alt="An image of Melanie standing next to the ocean and looking out to sea">
    </div>
    

</div>





<%- include("partials/footer") %>