<%- include("partials/header") %>
<%- include("partials/nav") %>


        <div class="grid-item banner">
            <img  src="/assets/about_banner.png" alt="A landscape image of the sea with a lighthouse">
        </div>
        <div class="grid-item span-test">
                <h1 class="smallerH1">Testimonials</h1>
        </div>
        <div class="grid-item testimony tPage">
            <div class="left-test tPage">
                <img class="quote-img" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>Supervision with Mel was something I looked forward to whilst facilitating this Family Group. 
                <br>She was empathic, I learnt a great deal.She helped me to help myself when I was stuck or facing a difficulty. Group supervision helped us all to pull on our own strengths and unite/bond as 4 facilitators with a huge amount of skills and knowledge which Mel acknowledged.</p>
                <br>
                <div><strong>Jayne, Moving Parents and Children Together (M-PACT Project) Addaction </strong></div>
            </div>
        </div>
        <div class="grid-item testimony tPage">
            <div class="right-test tPage">
                <img class="quote-img" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>I have worked with Melanie in several settings over many years and I have found her extremely professional and knowledgeable. I have always had every confidence in her when working with both individuals and groups of counsellors. She has the ability and skill to provide engaging and creative methods of supervision in a very non judgemental environment. <br>Mel comes with my full recommendation.</p>
                <br>
                <div><strong>Sarah Flourentzou</strong></div>
            </div> 
        </div>
        <div class="grid-item testimony tPageBlue">
            <div class="left-test tPage">
                <img class="quote-img white" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>Melanie brings a wealth of experience to her counselling and supervision work with clients.
                She has worked with a range of different client groups for over 20 years. She spent many years working as the Young Carers Service Manager and then Counselling Service Manager for 'Crossroads / Carer’s Trust’ and as well as adults counselled young carers as part of her work there.
                She also worked as a Student Counsellor at Weston College and also lectured on counselling. She was also the Bereavement Services Manager for a local hospice.
                Melanie believes in the healing power of the relationship and brings a warmth and genuineness to her work.
                She aims to create a safe and boundaried space where problems and difficult feelings can be aired and worked on without fear of judgment.</p>
                <br>
                <div><strong>Katina Noble – Clinical Supervisor</strong></div>
            </div>
        </div>
        <div class="grid-item testimony tPageBlue">
            <div class="right-test tPage">
                <img class="quote-img white" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>Melanie is an exceptionally skilful, kind and compassionate counsellor. She provided me with a calm and inviting relationship to discuss my thoughts and feelings; her genuine empathy saturated our interactions and I always felt comfortable in her presence. Her ability to convey unconditional positive regard was impressive and I never felt I had to be someone I wasn’t. I will always treasure the space, relationship and psychological support Melanie provided me. Without her support I am a confident a less healthy and more self-destructive trajectory would have ensued.</p>
                <br>
                <div><strong>R D - Client </strong></div>
            </div> 
        </div>
        <div class="grid-item testimony tPage lrgLeft">
            <div class="left-test tPage">
                <img class="quote-img" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>When we found out we were pregnant it was exciting and we were very happy but then I realised in 7-8 months I would have to go through labour!! I was so scared I didn't sleep and was constantly worried about it but after my first session of hypnobirthing it was like a weight was lifted!!</p>
                <br>
                <p>It really helped me understand what my body would do during labour and that it was made to give birth. After the course finished I was excited to go through labour and experience what my body could naturally do. The relaxations were brilliant, they take a bit of getting used to but once you really relax into it it's lovely and helpfull.</P>
                <br>
                <p>The course really help eased my husband's worries also and he could see a huge change in me, I was so excited and relaxed not worried! We both loved all the science and information on how the female body was made to give birth. Although my labour really did not go the way we really wanted I was able to use the information to calm and reassure me when we got induced and being able to phone Melanie at each stage for reassurance really helped me.</P>
                <br>
                <p>When it came to active labour we used the visualisations and the breathing we were taught and although labour wasn't an eady ride I really believe that hypnobirthing helped me through everything and I gave birth to a calm, happy, and contented baby girl. I believe that hypnobirthing allowed be to be calm and relaxed during my pregnancy and this is why my baby was born like that.</p>
                <br>
                <div><strong>Emma, Max and Baby Enola Ivy-
                    Hypnobirthing Clients</strong></div>
            </div>
        </div>
        <div class="grid-item testimony tPage">
            <div class="right-test tPage">
                <img class="quote-img" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>I saw Mel for counselling over a 6 week period and it helped a lot. She is very easy to speak to and  really helped me understand what was going on in my own head. Would 100% recommend.</p>
                <br>
                <div><strong>SK Counselling Client</strong></div>
            </div> 
        </div>
        <div class="grid-item testimony tPage">
            <div class="right-test tPage">
                <img class="quote-img" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>A refreshingly challenging yet supportive Supervisor. If you're looking to get that something extra or really value open and honest dialogue, from my experience Melanie is first rate.</p>
                <br>
                <div><strong>A.P. Clevedon</strong></div>
            </div> 
        </div>
        <div class="grid-item testimony tPage">
            <div class="right-test tPage">
                <img class="quote-img" src="assets/quote.png" alt="An icon depicting quotation marks">
                <p>Melanie offers her supervisees the support and guidance they need, with a gentle touch and a blend of encouragement and challenge for professional growth much appreciated by her team, students and supervisees.</p>
                <br>
                <div><strong>Former Manager - Bereavement Service</strong></div>
            </div> 
        </div>
<%- include("partials/footer") %>

<!-- 
    1.Melanie is an exceptionally skilful, kind and compassionate counsellor. She provided me with a calm and inviting relationship to discuss my thoughts and feelings; her genuine empathy saturated our interactions and I always felt comfortable in her presence. Her ability to convey unconditional positive regard was impressive and I never felt I had to be someone I wasn’t. I will always treasure the space, relationship and psychological support Melanie provided me. Without her support I am a confident a less healthy and more self-destructive trajectory would have ensued.  
R D - Client 
2.Melanie brings a wealth of experience to her counselling and supervision work with clients.
She has worked with a range of different client groups for over 20 years. She spent many years working as the Young Carers Service Manager and then Counselling Service Manager for 'Crossroads / Carer’s Trust’ and as well as adults counselled young carers as part of her work there.
She also worked as a Student Counsellor at Weston College and also lectured on counselling. She was also the Bereavement Services Manager for a local hospice.
Melanie believes in the healing power of the relationship and brings a warmth and genuineness to her work.
She aims to create a safe and boundaried space where problems and difficult feelings can be aired and worked on without fear of judgment.

Katina Noble – Clinical Supervisor TICK

3.I saw Mel for counselling over a 6 week period and it helped a lot. She is very easy to speak to and  really helped me understand what was going on in my own head. Would 100% recommend.
SK Counselling Client TICK

4.When we found out we were pregnant it was exciting and we were very happy but then I realised in 7-8 months I would have to go through labour!! I was so scared I didn't sleep and was constantly worried about it but after my first session of hypnobirthing it was like a weight was lifted!! It really helped me understand what my body would do during labour and that it was made to give birth. After the course finished I was excited to go through labour and experience what my body could naturally do. The relaxations were brilliant, they take a bit of getting used to but once you really relax into it it's lovely and helpfull. The course really help eased my husband's worries also and he could see a huge change in me, I was so excited and relaxed not worried! We both loved all the science and information on how the female body was made to give birth. Although my labour really did not go the way we really wanted I was able to use the information to calm and reassure me when we got induced and being able to phone Melanie at each stage for reassurance really helped me. When it came to active labour we used the visualisations and the breathing we were taught and although labour wasn't an eady ride I really believe that hypnobirthing helped me through everything and I gave birth to a calm, happy, and contented baby girl. I believe that hypnobirthing allowed be to be calm and relaxed during my pregnancy and this is why my baby was born like that.
Emma, Max and Baby Enola Ivy
Hypnobirthing Clients

5.Mel is a fantastic counsellor with a caring attitude and excellent listening skills, and she provided me with the support I needed to get through. She is non-judgemental and easy to talk to and I would definetly recommend her.
PM – Counselling Client

6.Melanie has run a number of training days for our organisation as well as being a valued member of our external counselling supervision team.  A knowledgeable trainer, skilled group facilitator and highly experienced therapist and supervisor, she is very professional in everything she does.  She works with integrity and authenticity and her wide range of skills and experience result in supervision and training which feels supportive, creative and, most importantly, ‘well held’.
Karen Ratcliffe, Carers Services Manager, North Somerset Crossroads

7.Supervision with Mel was something I looked forward to whilst facilitating this Family Group.

She was empathic, I learnt a great deal.

She helped me to help myself when I was stuck or facing a difficulty

Group supervision helped us all to pull on our own strengths and unite/bond as 4 facilitators with a huge amount of skills and knowledge which Mel acknowledged.


Jayne, Moving Parents and Children Together (M-PACT Project) Addaction TICK

8.I have worked with Melanie in several settings over many years and I have found her extremely professional and knowledgeable. I have always had every confidence in her when working with both individuals and groups of counsellors. She has the ability and skill to provide engaging and creative methods of supervision in a very non judgemental environment. 
Mel comes with my full recommendation. 
Sarah Flourentzou
Service Treatment Manager 

9.A refreshingly challenging yet supportive Supervisor. If you're looking to get that something extra or really value open and honest dialogue, from my experience Melanie is first rate. 
(A.P. Clevedon)

10. “Melanie offers her supervisees the support and guidance they need, with a gentle touch and a blend of encouragement and challenge for professional growth much appreciated by her team, students and supervisees.”

Former Manager - Bereavement Service

 
 -->