<%- include("partials/header") %>
<%- include("partials/nav") %>


<div class="grid-item banner">
    <img  src="/assets/mountain_valley.png" alt="A banner image of a majestic green valley">
</div>

<div class="grid-item about">
    <div class="text-wrap">
        <div>
            <h1>Training and facilitation</h1>
            <p>
                I have lectured in counselling and since 2003 have written and delivered numerous training sessions and workshops for a wide range of healthcare professionals, volunteers and organisations. 
                These include;
            </p>
            <ul>
                <li>Understanding and Working with Self Injury, </li>
                <li>Intermediate & Advanced Counselling Skills</li>
                <li>Loss and Grief Modules</li>
                <li>Counselling for Organisations</li>
                <li>Importance of Boundaries</li>
                <li>Creative Approaches to Client Work</li>
                <li>Leaning in with Loss, Grief and Bereavement, </li>
                <li>Working with Adolescents </li>
                <li>Understanding Young Carers Issues </li>
                <li>Carer's Champions Training (for Primary Care Trust)</li>
                <li>End of Life Care-7 Week Course for Carers (for Dept. Of Health)</li>
                <li>Basic Child Protection</li>
                <li>Listening Skills</li>
                <li>Self-Care in the Helping Professions</li>
                <li>The Importance of Supervision and Using it Effectively</li>
                <li>Assessment Skills</li>
                <li>Team Building</li>
            </ul>
            <br>
            <p>Please contact me if you would like to discuss me delivering or writing and delivering training on the above areas or a specific area, not mentioned, for your team or group. </p>
            <img src="/assets/bacp.png" alt="An icon depicting The British Association For Counselling And Psychotherapy">
        </div>
    </div>

    <div class="img-wrap">
        <img src="/assets/hiking.png" alt="An image of Melanie hiking through some flowery fields">
    </div>    

</div>

<%- include("partials/footer") %>