@font-face {
    font-family: 'pecitamedium';
    font-display: auto;
    src: url('Pecita-webfont.eot');
    src: url('Pecita-webfont.eot?#iefix') format('embedded-opentype'),
         url('Pecita-webfont.woff') format('woff'),
         url('Pecita-webfont.ttf') format('truetype'),
         url('Pecita-webfont.svg#pecitamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
     box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0 ;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
p {
    line-height: 26px;
}
/* Navbar Styles */
.navbar {
    background: #ffffff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 100vw;
    top: 0;
    left: 0;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0;
    padding: 0 10.2vw;
    z-index: 1;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}

#brand-title {
    font-family: 'pecitamedium';
    font-size: 32px;
    white-space: nowrap;
    margin-right: 2rem;
    text-transform:capitalize;
}
.navbar-links {
    height: 100%;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: space-between;
    height: 100%;
    align-items: center;   
}
.navbarLi {
    list-style: none;
    display: flex;
    background: #ffffff;
    height: 72px;
}
.navbar-links a {
    position: relative;
    display: flex;
    width: fit-content;
    text-decoration: none;
    white-space: nowrap;
    height: inherit;
    padding: 1em 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar-links li a:last-of-type{
    margin-right: 0;
}
.navbar-links li a:hover {
    color: #3A7C91;
    font-weight: 600;
}
.dropdown {
    overflow: hidden;
    height: 100%;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    padding: inherit;
    height: inherit;
    align-self: center;
}
.dropbtn img {
    width: 16px;
    height: 8px;
    margin: 0 2.5px;
    color: #707070;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3A7C91;
    width: 286px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
/* Links inside the dropdown */
.dropdown-content .dropdownLinks {
    color: #ffffff;
    margin: 0;
    width: 100%;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transition: 1s ease ;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
.toggle-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 30px;
    height: 24px;
    z-index: 2;
    margin: 1rem 5.2vw 0 0;
}
.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}
a:link {
    text-decoration: none;
    color: black;
}  
a:visited {
    text-decoration: none;
    color: black;
 }

 /*Document Styling  */
.container {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: auto ;
    justify-content: space-evenly;
}
.grid-item-sign {
    display:flex;
    background-image: url("/assets/home-bannerC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column: span 4;
    grid-row: span 2;
    width:100vw;
    height: 68vh;
    max-height: 68vh;
}
#bannerWrap {
     height:fit-content;
     width: fit-content;
     padding: 1rem 0.25rem 4rem;
     align-self: center;
 }
#bannerName {
    font-family: 'pecitamedium';
    font-size: 120px;
    font-weight: 400;
    margin: 0 0;
    padding:0 0;
    height: auto;
 }
 #bannerBlurb {
    font-size: 26px;
    margin: 0;
}
h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 400;
}
h2{
    font-size: 60px;
    font-weight: 400;
    margin:0;
    padding: 1rem 0;
    text-align: left;
}
h3 {
    font-size: 22px;
    font-weight: 600; 
    margin: 0;  
}
h4 {
    font-size: calc(2vh + 0.5vw);
    font-weight: 400;
    min-width: 250px;
}
h5 {
     font-size: calc(1.2vh + 0.5vw);
     font-weight: 400;
     padding: 0.5em 0.5em;
     margin: 0;
}
p, li {
    line-height: 26px;
    margin: 0;
}
.skills-container {
     display: inline-flex;
     grid-column: span 4;
     grid-row: 3;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 10.2vh 10vw;
     padding: 0;
}
.skills {
    text-align: center;
    height: auto;
    min-width: 250px;
    width: 22%;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0.5rem 2rem;
 }
.skills img {
     height: 75px;
     width: auto;
     opacity: 80%;
}
.skills h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    height: 4.5em;
    padding: 1rem 1rem;
    margin:  0 0.5rem 0.5rem;
}
.skills a {
    display: block;
    height: 100%;
    width:100%;
    text-decoration: none;
}
.meet.grid-item {
    background-color: #DFDFDF;
    display: inline-flex;
    flex-wrap: wrap;
    grid-column: span 4;
    grid-row: span 2;
    width:100%;
    text-align: center;
    justify-content: center;  
}
button {
    font-size: 18px;
}
button:hover {
    color: #3A7C91;
    background: #ffffff;
    border-color: #3A7C91;
    cursor: pointer;
}
.hello{
    display:flex;
    flex-basis: 50%;
    grid-row: span 2;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}
.hello-wrap {
    margin-left: 10.2vw;
    padding: 3em 5em 3em 0;
    align-items: center;
}
.hello-wrap h2 {
    text-align: center;
}
.hello-wrap p {
    margin: 0;
    line-height: 25px;
    text-align: center;
}
.hello-wrap img {
    padding: 2rem 0.5em;
}
.portrait{
    display:flex;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 3;
    grid-row: span 2;
    justify-content: center;
}
.portrait img {
     width: 100%;
     height: 100%;
     object-fit:  cover;
     align-self: center;
}
.grid-item.testimony {
     background-color: #D5E7EB;
     display: flex;
     justify-content: center;
     text-align: center;
     grid-column: span 2;
     grid-row: span 1;
     height: 20em;
}
.testimony.tPage {
    background-color: white;
    height: fit-content;
}
.testimony.tPageBlue {
    background-color: #D5E7EB;
    height: 32em;
}
.tPage.lrgLeft {
    grid-row: span 3;
}
#testiButton {
    display: flex;
    height: 8em;
    background-color: #D5E7EB;
    text-align: center;
    margin: 0;
    justify-content: center;
}
.quote-img {
    opacity: 0.8;
    height: 90px;
    width: auto;
    padding: 1rem 1rem;
}
.white {
    mix-blend-mode: color-dodge;
}
.grid-item.span-test {
    display: flex;
    grid-column: span 4;
    grid-row: span 1;
    margin: 4rem 10.2vw 0;
    text-align: left;
}
.left-test {
    margin: 2rem 4em 2rem 10.2vw;
    height: fit-content;
}
.right-test {
    margin: 2rem 10.2vw 2rem 4em;
    height: fit-content;  
}
.left-test.tPage {
    text-align: left;
}
.right-test.tPage {
    text-align: left;
}
.testimony.tPage:last-of-type {
    margin-bottom: 8rem;
}
.grid-item.contact {
     grid-column: span 4;
     grid-row: span 1;
     text-align: center;
     line-height: 2em;
     padding: 4rem 2rem;
}
.contact h2 {
    text-align: center;
}
.contact p {
    margin: 1rem 1rem;
}
.grid-item-footer {
    grid-column: span 4;
    grid-row: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #3A7C91;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 0.5em;
    height: 72px;
}
.grid-item-footer a {
    text-decoration: none;
    color: #ffffff;
}
.grid-item-footer a:hover {
    text-decoration: underline;
}
button {
    width:fit-content;
    padding: 0.4rem 0.4rem;
    background: white;
    border: 2px solid #7B7B7B;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
}
.button {
    width:fit-content;
    padding: 0.4rem 0.4rem;
    background: white;
    border: 2px solid #7B7B7B;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
}
.button:hover {
    color: #3A7C91;
    background: #ffffff;
    border-color: #3A7C91;
    cursor: pointer;
}
#contactBut {
    width: 70px;
    height: 45px;
    margin-top: 1rem;
}

 /* Information Pages */
.grid-item.banner {
    width: 100vw;
    height: 28vh;
    grid-column: span 4;
    grid-row: auto;
    transform: translateY(72px);
    position: relative;
    margin-bottom: 4rem;
}
.smallerH1 {
    font-size: 58px;
    line-height: 1.2em;
    margin-bottom: 2rem;
}
.grid-item.banner img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.grid-item.about {
     grid-column: span 4;
     display: flex;
     flex-wrap: wrap;
     flex-grow: 1;
     margin: 2rem 10.2vw;
}
.text-wrap {
     display:flex;
     flex-grow: 1;
     flex-basis:50%;
     padding: 0 1rem 2rem 0 ;
}
.text-wrap img {
    padding-top: 2rem;
}
.img-wrap {
    display: flex;
    flex-grow: 1;
    padding: 0 1rem;
    margin-top: 6.5rem;
    align-self: flex-start;
}
.img-wrap img {
     object-fit: cover;
     height: 100%;
     width: 100%;
}
#indoor-img {
    margin-top: 11rem;
}

 /* FAQ page */
.about a {
    color: #3A7C91;
    text-decoration: #3A7C91;
}

 /* Contact Page */
.form-wrap {
    display:flex;
    min-width: 300px;
    width: 22vw;
    padding:0 4rem 0 0;
    flex-grow: 1;
 }
 .form-wrap h2 {
     padding-bottom: 0.5em;
 }
 .form-wrap p {
     font-size: 26px;
     padding: 0 0 1rem;
 }
 form {
     width: 22vw;
     flex-grow:1;
 }
 abbr {
     text-decoration: none;
     color: red;
 }
.contact-wrap {
     min-width: 300px;
     width: 14vw;
     flex-grow: 1;
     margin-top: 6.5rem;
}
.contact-wrap p {
    margin: 1em 0;
}
.form-wrap input {
     width: 100%;
     height: 45px;
     flex-grow: 1;
     padding: 5px 5px;
     border: 1px solid #7B7B7B;
     border-radius: 5px;
     margin: 1vh 1rem 3vh 0;
}
#message {
     height: 15vh;
     width: 100%;
     max-width: 500px;
     max-height: 800px;
     margin-top: 0.5em;
}

.noMargin {
    margin-bottom: 0;
}
@media (max-width: 1200px){
    .grid-item-sign{
        height: 65vh;
    }
    .grid-item-sign div {
        margin: 20vh auto;
    }
    .skills-container {
        justify-content: center;
    }
    #bannerName {
        font-size: calc(7vh + 0.5vw);
    }
    .img-wrap {
        margin-top: 2rem;
    }
    .portrait {
        flex-basis: 100vw;
    }
    .grid-item.testimony{
        grid-column: span 4;
        height: fit-content;
    }
    .left-test, .right-test {
        height: fit-content;
        margin: 2em 10.2vw;
    }
}
@media (max-width: 1000px){
    /* Responsive Navbar Stylings */
    .responsiveNav {
        height: 100vh;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        height: 0px;
        opacity: 0;
    }
    .navbar {
        flex-direction: column;
    }
    #brand-title {
        margin-top: 1rem;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        position:absolute;
        top:72px;
        left:0;
        height: 0px;
    }
    .navbar-links a {
        justify-content: center;
    }
    .dropdown {
        width: 100%;
    }
    .navbarLi {
        left: 0;
        position: relative;
        text-align: center;
        width: 100%;
        height: 0px;
        opacity: 0;
    }
    .activeLi {
        opacity: 1;
        height: 60px;
        transition: none;
        transition: height 0.5s ease;
        -webkit-transition: height 0.5s ease;
        -moz-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        transition: opacity 0.5s ease-in;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
    }
    .activeLi:nth-of-type(1){
        transition-delay: 0s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
    }
    .activeLi:nth-of-type(2){
        transition-delay: 0.15s;
        -webkit-transition-delay: 0.15s;
        -moz-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
    }
    .activeLi:nth-of-type(3){
        transition-delay: 0.3s;
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
    }
    .activeLi:nth-of-type(4){
        transition-delay: 0.4s;
        -webkit-transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
    }
    .activeLi:nth-of-type(5){
        transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
    }   
    .navbar-links a {
        width: 100%;
    }   
    .navbar-links.active {
        display: block;
        opacity: 1;
        height: 60px;
        width: 100vw;
    }
    .navbar-links li a:hover {
        background-color: rgba(122, 122, 122, 0.5);
    }
    .dropdown-content{
        width: 100%;
        text-align:center;
    }
    .dropdown-content:hover #burger-fix {
        display: block;
    }

}
@media (max-width: 800px) {
    .smallerH1{
        font-size: 38px;
        margin-bottom: 0.5em;
    }
    h2 {
        font-size: 30px;
    }
    .grid-item-sign div {
        margin: 22vh auto;
    }
    #bannerBlurb{
         font-size: 26px;
    }
    h4 {
        font-size: calc(2vh + 0.5vw);
    }
    .hello-wrap {
        margin: 1.5rem 0;
        padding: 0 1.5rem;
        text-align: center;
    }
    .grid-item.about {
        margin: 0;
        padding: 2rem 1.5em;
        justify-content: center;
    }
    .text-wrap {
        padding: 0 0.5em;
    }
    #indoor-img {
        margin-top: 4rem;
    }
    .form-wrap, .contact-wrap{
        padding: 0;
        margin: 0 2rem 1.5rem;
    }
}
@media (max-width:500px) {
    .grid-item-sign div {
        margin: 20vh auto;
    }
    #bannerName {
       font-size: 40px;
    }
    #bannerBlurb {
        font-size: 18px;
    }
    .skills-container {
        margin-top: 2rem;
    }
    .grid-item-footer {
        font-size: 12px;
    }
}

@media (max-height:500px){
    #bannerName {
        padding-top: 1rem;
        font-size: 26px;
    }
    #bannerBlurb {
        font-size: 12px;
        line-height: 15px;
    }
   
}
